.main-title {
    font-size: 26px;
}

.modal-timer {
    text-align: center;
    font-size: 22px;
}

.my-timer {
    color: darkgreen;
}


.setting-form {
    width: 160px;
    margin: 0 auto;
    font-size: 22px;
}
#_select {
    width: 50px;
}


.result-descr {
    text-align: center;
    font-size: 32px;
}

.result-progress {
    text-align: center;
    font-size: 22px;
}

.result-descr.dscr-red {
    color: rgb(201, 52, 52);
}

.result-descr.dscr-yellow {
    color: rgb(141, 114, 47);
}

.result-descr.dscr-green {
    color: rgb(9, 194, 24);
}



.result-list {
    font-size: 18px;
    list-style: none;
    width: 260px;
    /* border: 2px solid black; */
    padding: 20px 0 20px 60px;
    margin: 20px auto;
}



/* .js-green {

} */

.js-red {
    color: red;
    /* font-weight: 600; */
}



/* === Таблиця досягнення === */
  .schedule-body > tr > td:hover {
    background-color: tomato;
    color: white;
  }

  .schedule {
    border-collapse: collapse;
    /* border-width: 7px; */
    font-size: 20px;
    margin: 20px auto;
    text-align: center;

  }

  .schedule th,
  .schedule td {
    padding: 0px 8px;
    border: 2px solid #d3ab7c;
  }

  .no-result {
    color: #999;
  }
