.main-title {
    font-size: 26px;
}

.modal-timer {
    text-align: center;
    font-size: 22px;
}

.my-timer {
    color: darkgreen;
}


.setting-form {
    width: 160px;
    margin: 0 auto;
    font-size: 22px;
}
#_select {
    width: 50px;
}


.result-descr {
    text-align: center;
    font-size: 32px;
}

.result-descr.dscr-red {
    color: rgb(201, 52, 52);
}

.result-descr.dscr-yellow {
    color: rgb(141, 114, 47);
}

.result-descr.dscr-green {
    color: rgb(9, 194, 24);
}



.result-list {
    font-size: 18px;
    /* text-align: center; */
    list-style: none;
    width: 260px;
    /* border: 2px solid black; */
    /* padding: 40px; */
    padding: 20px 0 20px 60px;
    margin: 20px auto;
}

/* .js-green {

} */

.js-red {
    color: red;
    /* font-weight: 600; */
}
